.footer {
	background-color: #F0F0F0;
	height: 570px;
	width: 100%;
}

.footer_top {
	height: 140px;
	width: 1202px;
	border-bottom: 1px solid gray;
}

.footer_top_img1,
.footer_top_img2,
.footer_top_img3,
.footer_top_img4 {
	margin-top: 40px;
	width: 47px;
	height: 47px;
	transition: all 1s;
	background: url(../img/icon-common.png);
	float: left;
}

.footer_top_img1 {
	background-position: 0px -150px;
}

.footer_top_img4 {
	background-position: -47px -150px;
}

.footer_top_img3 {
	background-position: -94px -150px;
}

.footer_top_img2 {
	background-position: -141px -150px;
}

.foot_top_top {
	height: 130px;
	width: 300px;
	line-height: 130px;
	float: left;
}

.footer_top_wenzi {
	display: block;
	float: left;
	height: 47px;
	line-height: 47px;
	margin-top: 40px;
}

.footer_top_img1:hover,
.footer_top_img2:hover,
.footer_top_img3:hover,
.footer_top_img4:hover {
	transform: rotate(360deg);
}

.footer p {
	color: black;
	font-size: 15px;
}

.footer_ul h2 {
	color: gray;
}

.footer li {
	margin: 8px 0px;
}

.footer li a {
	font-size: 12px;
	color: gray;
}

.footer a:hover {
	color: red;
}

.footer ul {
	float: left;
	width: 158px;
	text-align: center;
}

.footer ul:last-of-type {
	width: 240px;
	float: left;
}

.footer_ul {
	width: 1200px;
	height: 240px;
	margin-top: 0px;
}

.footer_bottom {
	height: 120px;
	background-color: #E6E6E6;
	margin-top: 10px;
	position: relative;
}

.foot_bottom1 {
	width: 1200px;
	height: 120px;
	border: none;
	margin: 0px auto;
}

.foot_bottom_img1 {
	display: block;
	height: 120px;
	width: 140px;
	line-height: 120px;
	float: left;
	
}

.foot_bottom_wenzi1 {
	padding-top: 40px;
	margin-left: 10px;
	color: gray;
	font-size: 13px;
	height: 120px;
	float: left;
	width: 665px;
}

.foot_bottom_right1 {
	height: 120px;
	float: left;
	line-height: 120px;
	margin-left: 5px;
}

.foot_bottom_right1 img {
	width: 70px;
	height: 24px;
}

.foot_bottom_right1 img:hover {
	cursor: pointer;
}