.head {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	top: 40px;
	position: relative;
}

#head_sj {
	position: absolute;
	width: 638px;
}

#head_sj .left_ul {
	width: 410px;
	position: absolute;
	left: 260px;
	top: 0;
}

#head_sj .left_ul li {
	float: left;
	line-height: 50px;
}

#head_sj .left_ul .li a {
	color: #3a3a3a;
	line-height: 47px;
	font-size: 16px;
	display: block;
	height: 40px;
}

#head_sj .left_ul .li a:hover {
	border-bottom: 2px solid #ca151d;
}

#head_sj .left_ul .li {
	margin: 0 10px;
	height: 70px;
	display: block;
}

#head_sj .left_ul .li a:hover {
	color: #ca151d;
}

.xiala_box {
	position: absolute;
	top: 70px;
	width: 1374px;
	height: 260px;
	background: #fff;
	/*border: 1px solid black;*/
	left: -100px;
	z-index: 88;
	display: none;
}

#shou_ji_cd {
	/*border: 1px solid red;*/
	width: 1200px;
	overflow: hidden;
	height: 100%;
	margin: 0 auto;
	display: none;
}

#shou_ji_cd #quan_bu_shou_ji a {
	float: left;
}

#shou_ji_cd #quan_bu_shou_ji a:hover {
	color: #ca151d !important;
}

#shou_ji_cd #quan_bu_shou_ji .rycw_xl {
	font-size: 13px !important;
	color: #3a3a3a;
	line-height: 47px;
	display: block;
	height: 40px;
	margin-left: 30px;
	opacity: .7;
}

#shou_ji_cd #quan_bu_shou_ji a:first-child {
	font-size: 16px;
	color: #3a3a3a;
	line-height: 47px;
	display: block;
	height: 40px;
}

#shou_ji_cd .xxxx_sj {
	position: absolute;
	top: 35px;
}

#shou_ji_cd .xxxx_sj ul li {
	float: left;
	display: block;
	margin-right: 60px;
	margin-top: 10px;
	cursor: pointer;
}

#shou_ji_cd .xxxx_sj ul li div {
	text-align: center;
	line-height: 22px;
}

#shou_ji_cd .xxxx_sj ul li:first-child {
	margin-left: 50px;
}

#shou_ji_cd .xxxx_sj ul li #jia_ge {
	color: #ca151d;
	font-size: 13px;
}

#shou_ji_cd .xxxx_sj ul li #xing_hao {
	font-size: 14px;
}

#shou_ji_cd .xxxx_sj ul li:hover #xing_hao {
	color: #ca151d;
}

#right {
	position: absolute;
	right: 0;
	border-bottom: 1px solid #DDDDDD;
	width: 330px;
	height: 42px;
	overflow: hidden;
}

#right input:last-child {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22px;
	height: 26px;
	background: url(https://res.vmallres.com/20170922/images/echannel/icon-common.png) 0px -25px no-repeat;
	cursor: pointer;
	outline: none;
	border: none;
}

#right input:first-child {
	position: absolute;
	width: 310px;
	margin-left: 10px;
	height: 27px;
	bottom: 0;
	outline: none;
	border: none;
}

#right .z_z {
	position: absolute;
	top: 500px;
	position: absolute;
	top: 19px;
	right: 30px;
}

#right .z_z li {
	float: left;
}

#right .z_z li a {
	color: #a4a4a4;
	font-size: 12px;
	margin-right: 10px;
	padding: 4px 4px 1px;
	background: #f5f5f5;
}

#right .z_z li a:hover {
	color: #00B5E2;
}

#right input:first-child:hover .z_z {
	display: none;
}

.hr_5 {
	width: 100%;
	height: 50px;
	border-bottom: 5px solid #EAEAEA;
}

section .top {
	width: 1200px;
	height: 30px;
	line-height: 30px;
	margin-left: 150px;
}

section .top a {
	color: black;
}

section .contain {
	width: 1180px;
	height: 653px;
	margin: 0 auto;
}

section .contain_left {
	width: 450px;
	height: 526px;
	float: left;
	position: relative;
}

.good_box {
	width: 450px;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.good_box:hover {
	cursor: move;
}

.good_box>img {
	width: 100%;
}

.sweep_box {
	width: 200px;
	height: 200px;
	background: #000;
	position: absolute;
	opacity: 0.1;
	top: 0;
	left: 0px;
	display: none;
}

.good_review_box {
	position: relative;
	height: 450px;
	width: 450px;
	border: 3px solid #B6B4B6;
	overflow: hidden;
	left: 470px;
	top: -452px;
	display: none;
	background: white;
	z-index: 999;
}

.good_review_box img {
	position: absolute;
	left: -46px;
}

.xiao_good {
	position: absolute;
	width: 360px;
	height: 70px;
	top: 460px;
	margin-left: 40px;
	cursor: pointer;
	overflow: hidden;
}

.xiao_good img {
	padding: 5px;
	border: 1px solid white;
}

.xiao_good img:first-child {
	border-color: red;
}

.xiao_good ul {
	display: block;
	width: 1000px;
	height: 70px;
	overflow: hidden;
}

.xiao_good ul li {
	float: left;
	padding-right: 20px;
	position: relative;
}

.xiao_good .on {
	display: block;
	margin-left: 17px;
}

.next {
	display: inline-block;
	height: 17px;
	width: 23px;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon51.png?20170519) 14px -16px no-repeat;
	position: absolute;
	margin-top: -49px;
	left: -12px;
}

.prev {
	display: inline-block;
	height: 16px;
	width: 21px;
	position: absolute;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon51.png?20170519)-71px 0px;
	right: -12px;
	margin-top: -48px;
}

section .contain_right {
	width: 730px;
	height: 653px;
	float: right;
}

section .contain_right_right {
	width: 710px;
	height: 653px;
	margin-left: 20px;
	position: relative;
}

section .contain_right_right .leader {
	font-weight: 400px;
}

section .contain_right_span {
	font-size: 12px;
}

section .contain_right_right .price {
	width: 710px;
	height: 28px;
}

section .contain_right_right .price span {
	display: block;
	float: left;
	padding-right: 40px;
}

section .contain_right_right .price span:nth-child(1) {
	color: red;
}

section .contain_right_right .price strong {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon-activity.png?20170519) 3px 5px no-repeat;
}

section .hr-5 {
	width: 100%;
	height: 1px;
	line-height: 1px;
	background: #EAEAEA;
}

section .contain_right_right .label {
	width: 710px;
	height: 51px;
}

section .contain_right_right .label .label_choose {
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: right;
	margin-top: 10px;
	border: 1px solid #EAEAEA;
}

section .contain_right_right .label .label_choose:hover {
	border-bottom: none;
}

section .contain_right_right .label .choose {
	width: 15px;
	height: 15px;
	border: none;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon50.png?20170519) -2px -2px no-repeat;
	margin: -22px 42px;
}

section .contain_right_right .label .label_xiala {
	width: 600px;
	height: 100px;
	border: 1px solid #EAEAEA;
	background: white;
	margin-top: -13px;
	display: none;
	position: absolute;
	margin-left: 108px;
}

section .contain_right_right .label .label_xiala img {
	margin-left: 30px;
	margin-top: 30px;
}

section .contain_right_right .label .label_xiala .p1 {
	display: block;
	width: 136px;
	margin-left: 92px;
	margin-top: -70px;
}

section .contain_right_right .label .label_xiala .p2 {
	display: block;
	width: 140px;
	height: 40px;
	border: 1px solid red;
	margin-left: 92px;
	margin-top: 7px;
	position: relative;
}

section .contain_right_right .label .label_xiala .p2 img {
	display: block;
	width: 36px;
	height: 36px;
	position: absolute;
	margin-left: 10px;
	margin-top: 3px;
}

section .contain_right_right .label .label_xiala .p2 span {
	display: block;
	margin-left: 50px;
	margin-top: -4px;
	position: absolute;
	line-height: 24px;
}

section .contain_right_right .label1 {
	width: 710px;
	height: 60px;
	line-height: 60px;
	margin-top: 10px;
}

section .contain_right_right .label2 {
	width: 710px;
	height: 100px;
	margin-top: 10px;
}

section .contain_right_right .label2 .label2_left {
	float: left;
	width: 80px;
	height: 100px;
}

section .contain_right_right .label2 .label2_left span {
	display: block;
	margin-top: 15px;
}

section .contain_right_right .label2 .label2_right {
	float: right width: 630px;
	height: 100px;
}

section .contain_right_right .label2 .label2_right div {
	float: left;
	width: 140px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #a4a4a4;
	margin: 5px 7px;
}

section .contain_right_right .label2 .label2_right div img {
	height: 35px;
}

section .contain_right_right .label2 .label2_right div span {
	padding-left: 25px;
}

section .contain_right_right .label3,
section .contain_right_right .label4,
section .contain_right_right .label5,
section .contain_right_right .label6 {
	width: 710px;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
}

section .contain_right_right .label3 .label3_left,
section .contain_right_right .label4 .label4_left,
section .contain_right_right .label5 .label5_left,
section .contain_right_right .label6 .label6_left {
	float: left;
	width: 80px;
	height: 50px;
}

section .contain_right_right .label3 .label3_right,
section .contain_right_right .label4 .label4_right,
section .contain_right_right .label5 .label5_right,
section .contain_right_right .label6 .label6_right {
	float: right width: 630px;
	height: 50px;
}

section .contain_right_right .label3 .label3_right span,
section .contain_right_right .label4 .label4_right span,
section .contain_right_right .label5 .label5_right span,
section .contain_right_right .label6 .label6_right span {
	display: block;
	float: left;
	width: 145px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 7px;
	border: 1px solid #a4a4a4;
	position: relative;
}

section .contain_right_right .label6 .label6_right .label6_choose {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 5px;
	top: 10px;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon50.png?20170519) -2px -2px no-repeat;
}

section .contain_right_right .label6 .label6_xiala {
	width: 600px;
	height: 100px;
	border: 1px solid #EAEAEA;
	background: white;
	margin-top: -10px;
	display: none;
	position: absolute;
	margin-left: 86px;
}

section .contain_right_right .label6 .label6_xiala ul li {
	display: block;
	float: left;
	padding-right: 36px;
	margin-left: 20px;
}

section .contain_right_right .label6 .label6_xiala ul li span {
	color: #ca151d;
}

section .contain_right_right .label7 {
	width: 710px;
	height: 20px;
	line-height: 20px;
}

section .contain_right_right .label7 .red {
	color: red;
}

section .contain_right_right .label8 {
	width: 710px;
	height: 46px;
	float: left;
}

section .contain_right_right .label8 .label8_left {
	width: 65px;
	height: 46px;
	float: left;
	position: relative;
}

section .contain_right_right .label8 .label8_left input {
	display: block;
	width: 42px;
	height: 44px;
	position: absolute;
	left: 0;
}

section .contain_right_right .label8 .label8_left a:nth-child(1) {
	display: block;
	width: 21px;
	height: 22px;
	border: 1px solid #A9A9A9;
	position: absolute;
	right: -3px;
	top: 0;
	font-size: 27px;
	text-align: center;
	line-height: 22px;
}

section .contain_right_right .label8 .label8_left a:nth-child(2) {
	display: block;
	width: 21px;
	height: 22px;
	border: 1px solid #A9A9A9;
	position: absolute;
	right: -3px;
	top: 24px;
	font-size: 27px;
	text-align: center;
	line-height: 22px;
}

section .contain_right_right .label8 .label8_left a {
	color: black;
}

section .contain_right_right .label8 .label8_right {
	width: 615px;
	height: 46px;
	float: right;
}

section .contain_right_right .label8 .label8_right div {
	width: 172px;
	height: 46px;
	background: #fc600c;
	line-height: 46px;
	text-align: center;
	float: left;
	margin-right: 10px;
}

section .contain_right_right .label8 .label8_right div:nth-child(2) {
	background: #ca151d;
}

section .contain_right_right .label8 .label8_right div span {
	color: white;
	font-size: 20px;
}

section .contain_right_right .fukuang {
	width: 42px;
	height: 87px;
	position: absolute;
	right: 0;
	bottom: 30px;
}

section .contain_right_right .fukuang .fukuang_1 {
	width: 42px;
	height: 44px;
	border: 1px solid #A9A9A9;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon-support.png?20170519) 6px 4px no-repeat;
}

section .contain_right_right .fukuang_1_1 {
	width: 106px;
	height: 30px;
	text-align: center;
	border: 1px solid #A9A9A9;
	position: absolute;
	right: 58px;
	bottom: 78px;
	display: none;
}

section .contain_right_right .fukuang_1_1 span {
	color: #ca151d;
}

section .contain_right_right .fukuang .fukuang_2 {
	width: 42px;
	height: 43px;
	border: 1px solid #A9A9A9;
}

section .contain_right_right .fukuang .fukuang_2 div {
	width: 30px;
	height: 44px;
	background: red;
	margin-left: 6px;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon-support.png?20170519) 0px 44px;
}

section .contain_right_right .fukuang_2_2 {
	width: 120px;
	height: 138px;
	border: 1px solid #A9A9A9;
	position: absolute;
	right: 58px;
	bottom: 25px;
	display: none;
}

section .contain_right_right .fukuang_1:hover,
.fukuang_2:hover {
	cursor: pointer;
}

section .contain_right_right .fukuang_2_2 img {
	display: block;
	margin-top: 3px;
}

section .hr-20 {
	width: 100%;
	height: 20px;
	position: relative;
}

section .hr-20 div {
	width: 100%;
	height: 1px;
	background: #EAEAEA;
	position: absolute;
	bottom: 0;
}

section .body1 {
	width: 100%;
	height: 170px;
}

section .body1_top {
	width: 100%;
	height: 27px;
}

section .body1_top span {
	display: block;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

section .body1_foot {
	width: 100%;
	height: 90px;
}

section .body1_contain {
	width: 90%;
	height: 90px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

section .body1_contain ul {
	display: block;
	margin-left: 50px;
}

section .body1_contain li {
	display: block;
	float: left;
	margin-top: 20px;
}

section .body1_contain li img {
	width: 64px;
	height: 64px;
}

section .body1_contain li div {
	width: 155px;
	height: 63.5px;
	padding-right: 110px;
	float: right;
}

section .body1_contain li div span {
	vertical-align: middle;
	color: black;
}

section .body1_contain li div em {
	color: red;
}

section .body1_contain .next1 {
	display: inline-block;
	height: 17px;
	width: 23px;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon51.png?20170519) 14px -16px no-repeat;
	position: absolute;
	margin-top: 45px;
	left: 15px;
}

section .body1_contain .prev1 {
	display: inline-block;
	height: 16px;
	width: 10px;
	position: absolute;
	background: url(https://res8.vmallres.com/20170922/images/echannel/icon/icon51.png?20170519)-71px 0px;
	right: 135px;
	margin-top: 40px;
}

section .body2 {
	width: 100%;
	height: 100px;
	position: relative;
}

section .body2 p {
	display: block;
	height: 26px;
	margin-top: 37px;
	margin-left: 400px;
	position: absolute;
}

section .body2 p a {
	padding-right: 80px;
	font-weight: bold;
	font-size: 25px;
	color: black;
}

section .body3 {
	width: 100%;
	height: 190px;
	position: relative;
}

section .body3 img,
.body4 img,
.body5 img,
.body6 img,
.body7 img,
.body8 img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

section .body4 {
	width: 100%;
	height: 210px;
}

section .body5 {
	widows: 100%;
	height: 316.5px;
}

section .body6 {
	width: 100%;
	height: 278px;
}

section .body7 {
	width: 100%;
	height: 456px;
}

section .body8 {
	width: 100%;
	height: 931px;
}

section .hr_60 {
	width: 100%;
	height: 60px;
}

section .contain1 {
	width: 100%;
	height: 950px;
}

section .contain1_head {
	display: block;
	width: 100%;
	height: 42px;
	padding-left: 20px;
}

section .contain1 .hr_30 {
	width: 100%;
	height: 1px;
	background: #EAEAEA;
}

section .contain1_1,
.contain1_2 {
	width: 100%;
	height: 442px;
	position: relative;
}

section .contain1_1 h2,
.contain1_2 h2 {
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
}

section .contain1_1 ul,
.contain1_2 ul {
	display: block;
	position: absolute;
	top: 0;
	left: 140px;
}

section .contain1_1 ul li,
.contain1_2 ul li {
	position: relative;
	line-height: 30px;
}

section .contain1_1 ul li span,
.contain1_2 ul li span {
	display: block;
	position: absolute;
	left: 200px;
	top: 0;
	width: 1000px;
	font-size: 14px;
}

section .contain1_1 ul li label,
.contain1_2 ul li label,
{
	font-size: 14px;
}

section .hr_70 {
	width: 100%;
	height: 70px;
}

section .contain1_2 {
	background: #F5F5F5;
}

section .contain2 {
	width: 100%;
	height: 595px;
}

section .contain2_1 {
	width: 100%;
	height: 193px;
	position: relative;
}

section .contain2_1 h2,
.contain2_2 h2 {
	display: block;
	position: absolute;
	top: 0;
	left: 120px;
	width: 1200px;
	height: 30px;
	border-bottom: 1px solid #A9A9A9;
}

section .contain2_1 ul {
	display: block;
	position: absolute;
	width: 1040px;
	height: 74px;
	top: 56px;
	left: 207px;
}

section .contain2_1 ul li {
	float: left;
	display: block;
	width: 90px;
	height: 30px;
	margin-right: 160px;
	font-size: 14px;
}
section .contain2_2{
	width: 100%;
	height: 200px;
	position: relative;
}
section .contain2_2 ul{
	display: block;
	position: absolute;
	width: 1200px;
	height: 100px;
	top: 60px;
	left: 207px;
	
}
section .contain2_2 ul li{
	line-height: 25px;
	font-size: 14px;
}
section .contain2_3{
	width: 100%;
	height: 200px;
	position: relative;
}
section .contain2_3 ul{
	display: block;
	position: absolute;
	width: 1200px;
	height: 100px;
	top: 0;
	left: 207px;	
}
section .contain2_3 ul li{
	line-height: 25px;
	font-size: 14px;
}
section .contain3{
	width: 100%;
	height: 160px;
	background: #F5F5F5;
	position: relative;
	
}
section .contain3_1{
	position: absolute;
	width: 1200px;
	height: 80px;
	left: 190px;
	top: 40px;	
}
section .contain3_1 .contain3_1_label1{
	display: block;
	position: absolute;
	left: 16px;
	font-size: 14px;
	top: 30px;
	 font-weight: bolder;
}
section .contain3_1 .contain3_1_1{
	width: 100px;
	height: 80px;
	
	position: absolute;
	left: 95px;
	top: 0;
}
section .contain3_1 .contain3_1_1 span{
	color: #ca151d;
	font-size: 65px;
	
}
section .contain3_1 .contain3_1_1 em{
	color: #ca151d;
	font-size: 20px;
}
section .contain3_1 .contain3_1_label2{
	display: block;
    position: absolute;
    left: 250px;
    font-size: 14px;
    top: 30px;
    font-weight: bolder;
}
section .contain3_1 .contain3_1_2{
	width: 600px;
	height: 80px;
	
	position: absolute;
	left: 335px;
	top: 0;
	
}
section .contain3_1 .contain3_1_2 ul li{
	display: block;
	float: left;
	font-size: 14px;
	margin-right: 30px;
	margin-top: 10px;
	width: 100px;
	height: 23px;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	background: white;
}
section .contain3_1 .contain3_1_2 ul li span{
	color: #D0D0D0;
}
